body, div, p, a, img, ul, li,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 20px;
}

h4  {
	font-size: 16px;
}

h5  {
	font-size: 20px;
}

.inner {
	background: #fff;
}

.container {
	width: 980px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
	width: 100%;
}

.header .container  {
	padding: 30px 0 26px;
}

.logo {
	float: left;
	margin-right: 40px;
	line-height: 46px;
}

.navigation {
	float: left;
	padding-left: 45px;
	line-height: 46px;
	border-left: 1px solid #e1e1e1;
}

.navigation-item {
	display: inline-block;
	margin-right: 40px;
}

.navigation-link {
	color: #7f7e7e;
	font-size: 16px;
}

.cart {
	float: right;
	font-size: 0;
}

.banner {
	height: 430px;
	background-color: #edecec;
	margin-bottom: 60px;
}

.banner-content {
	padding: 135px 30px 0;
	color: #fff;
}

.banner-title {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	margin-bottom: 20px;
}

.banner-description {
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 7px;
	margin-bottom: 40px;
}

.banner-link {
	display: inline-block;
	font-size: 18px;
	text-transform: uppercase;
	color: #65889b;
	background: #fff;
	padding: 18px 60px;
}

.banner-link:hover {
	color: #2d4857;
}

.container-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	color: #656363;
	margin-bottom: 40px;
}

.lasted-products,
.popular-products {
	margin-bottom: 60px;
}

.product-list {
	text-align: center;
	font-size: 0;
}

.product-item {
	display: inline-block;
	position: relative;
	width: 292px;
	border: 4px solid #f7f7f7;
	padding: 25px 0;
}

.product-item + .product-item {
	margin-left: 40px;
}

.product-discount {
	position: absolute;
	top: 26px;
	left: -4px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	background: #f54d56;
	border-left: 4px solid #de3841;
	padding: 13px 23px;
}

.product-item img {
	margin-bottom: 50px;
}

.product-title {
	margin-bottom: 15px;
	font-weight: normal;
	color: #717171;
}

.product-price {
	font-size: 18px;
	font-weight: bold;
	color: #717171;
}

.brand-item {
	display: inline-block;
	text-align: center;
	border: 3px solid #edecec;
	padding: 27px 30px;
	font-size: 0;
}

.brand-item + .brand-item {
	margin-left: 50px;
}

.footer {
	background-color: #fdfcfc;
	border-top: 1px solid #f2f1f1;
	margin-top: 60px;
	padding-top: 60px;
}

.footer-categories {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 60px;
}

.footer-contacts,
.footer-blog,
.footer-support {
	width: 33.33333333333%;
	float: left;
	color: #868585;
	font-size: 14px;
}

.footer-title {
	margin-bottom: 30px;
	color: #656363;
}

.footer-contacts {
	margin-bottom: 40px;
}

.footer-contact {
	width: 140px;
	font-size: 14px;
	margin-bottom: 40px;
}

.footer-number {
	display: block;
	font-weight: bold;
}

.social-item {
	display: inline-block;
	font-size: 0px;
}

.social-item  + .social-item {
	margin-left: 22px;
}

.blog-wrapper {
	width: 287px;
}

.footer-blog .post-item {
	margin-bottom: 25px;
}

.footer-blog .post-link {
	display: block;
	color: #717171;
	margin-bottom: 15px;
}

.footer-blog .post-link:hover {
	color: #f54d56;
}

.footer-support .support-link {
	font-size: 14px;
	color: #868585;
}

.footer-support .support-link:hover {
	color: #f54d56;
}

.support-list {
	float: left;
	width: 50%
}

.support-item {
	line-height: 30px;
}

.footer-outer {
	font-size: 13px;
	line-height: 20px;
	color: #a6a6a6;
	border-top: 1px solid #fff;
	padding: 19px 0 20px;
}

.copyright {
	float: left;
}

.payment-list {
	float: right;
}

.payment-item {
	display: inline-block;
}

.payment-item  + .payment-item {
	margin-left: 20px;
}
